/* body {
    background: linear-gradient(to bottom, #f85032, #e73827);
  } */
body {
    /* background: linear-gradient(to right, #ff8008, #ffc837); */
    /* background: linear-gradient(to bottom, rgb(177, 244, 168), lightgrey, white); */
    /* background: radial-gradient(circle at top right, rgb(0, 7, 0), rgb(215, 216, 215), white); */
    background: radial-gradient(circle at top right,  rgb(107, 169, 250), rgb(178, 207, 247), white);
}

/* a:active {
    font-weight: 500;
} */

/* .active {
    background-color: white;
} */

.navbar {
    /* background: linear-gradient(to bottom, #00c6fb, #005bea); */
    /* background: radial-gradient(circle at top left, rgb(0, 7, 0), rgb(215, 216, 215), white); */
    /* background: radial-gradient(circle at bottom left, rgb(177, 244, 168), rgb(215, 216, 215), white); */
    background: radial-gradient(circle at bottom left, rgb(107, 169, 250), rgb(178, 207, 247), white);
}